# convert train.txt to train.csv file

In [ ]:
import csv

# Function to read the file and split into sentences
def read_and_split_sentences(file_path):
    with open(file_path, 'r') as file:
        lines = file.read().strip().split('\n')
    
    sentences = []
    current_sentence = []
    
    for line in lines:
        if line.strip() == "":
            if current_sentence:
                sentences.append(current_sentence)
                current_sentence = []
        else:
            current_sentence.append(line)
    
    if current_sentence:
        sentences.append(current_sentence)
    
    return sentences

# Function to process sentences and write to CSV
def process_and_write_to_csv(sentences, output_csv_path):
    with open(output_csv_path, 'w', newline='') as csvfile:
        csvwriter = csv.writer(csvfile)
        csvwriter.writerow(['Sentence', 'Tag', 'Word'])
        
        for sentence_number, sentence in enumerate(sentences, start=1):
            for line in sentence:
                label, token = line.split('\t')
                csvwriter.writerow([sentence_number, label, token])

# Define file paths
input_file_path = 'Training Data for Problem 2.txt'
output_csv_path = 'Training Data for Problem 2.csv'

# Read and split sentences
sentences = read_and_split_sentences(input_file_path)

# Process sentences and write to CSV
process_and_write_to_csv(sentences, output_csv_path)

print(f"Data has been successfully written to {output_csv_path}")

In [267]:
import pandas as pd
data=pd.read_csv("Training Data for Problem 2.csv")
data

        Sentence       Tag       Word
0              1   B-Actor      steve
1              1   I-Actor    mcqueen
2              1         O   provided
3              1         O          a
4              1    B-Plot  thrilling
...          ...       ...        ...
158818      7816  I-Origin         on
158819      7816  I-Origin          a
158820      7816  I-Origin   nicholas
158821      7816  I-Origin     sparks
158822      7816  I-Origin      novel

[158823 rows x 3 columns]

# convert test.txt to test.csv

In [268]:
import csv

# Function to read the file and split into sentences
def read_and_split_sentences(file_path):
    with open(file_path, 'r') as file:
        lines = file.read().strip().split('\n')
    
    sentences = []
    current_sentence = []
    
    for line in lines:
        if line.strip() == "":
            if current_sentence:
                sentences.append(current_sentence)
                current_sentence = []
        else:
            current_sentence.append(line)
    
    if current_sentence:
        sentences.append(current_sentence)
    
    return sentences

# Function to process sentences and write to CSV
def process_and_write_to_csv(sentences, output_csv_path):
    with open(output_csv_path, 'w', newline='') as csvfile:
        csvwriter = csv.writer(csvfile)
        csvwriter.writerow(['Sentence', 'Tag', 'Word'])
        
        for sentence_number, sentence in enumerate(sentences, start=1):
            for line in sentence:
                label, token = line.split('\t')
                csvwriter.writerow([sentence_number, label, token])

# Define file paths
input_file_path = 'Test Data for Problem 2.txt'
output_csv_path = 'Test Data for Problem 2.csv'

# Read and split sentences
sentences = read_and_split_sentences(input_file_path)

# Process sentences and write to CSV
process_and_write_to_csv(sentences, output_csv_path)

print(f"Data has been successfully written to {output_csv_path}")

Data has been successfully written to Test Data for Problem 2.csv

In [269]:
import pandas as pd
data1=pd.read_csv("Test Data for Problem 2.csv")
data1

       Sentence       Tag      Word
0             1         O         i
1             1         O      need
2             1         O      that
3             1         O     movie
4             1         O     which
...         ...       ...       ...
39030      1953  I-Origin       the
39031      1953  I-Origin     novel
39032      1953  I-Origin        by
39033      1953  I-Origin       ben
39034      1953  I-Origin  sherwood

[39035 rows x 3 columns]

# Preprocess the data

In [270]:
data.isnull().sum()

Sentence    0
Tag         0
Word        1
dtype: int64

In [271]:
droprow=data.dropna()
droprow

        Sentence       Tag       Word
0              1   B-Actor      steve
1              1   I-Actor    mcqueen
2              1         O   provided
3              1         O          a
4              1    B-Plot  thrilling
...          ...       ...        ...
158818      7816  I-Origin         on
158819      7816  I-Origin          a
158820      7816  I-Origin   nicholas
158821      7816  I-Origin     sparks
158822      7816  I-Origin      novel

[158822 rows x 3 columns]

In [272]:
droprow.to_csv("final_train.csv",index=False)
data1.to_csv("final_test.csv",index=False)

# Apply transformer for Name Entity Recognition

In [273]:
!pip install ctransformers

Requirement already satisfied: ctransformers in c:\users\sayak\anaconda3\lib\site-packages (0.2.27)
Requirement already satisfied: py-cpuinfo<10.0.0,>=9.0.0 in c:\users\sayak\anaconda3\lib\site-packages (from ctransformers) (9.0.0)
Requirement already satisfied: huggingface-hub in c:\users\sayak\anaconda3\lib\site-packages (from ctransformers) (0.23.0)
Requirement already satisfied: pyyaml>=5.1 in c:\users\sayak\anaconda3\lib\site-packages (from huggingface-hub->ctransformers) (6.0)
Requirement already satisfied: requests in c:\users\sayak\anaconda3\lib\site-packages (from huggingface-hub->ctransformers) (2.27.1)
Requirement already satisfied: tqdm>=4.42.1 in c:\users\sayak\anaconda3\lib\site-packages (from huggingface-hub->ctransformers) (4.64.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\sayak\anaconda3\lib\site-packages (from huggingface-hub->ctransformers) (4.9.0)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\sayak\anaconda3\lib\site-packages (from huggingface-hub->ctransformers) (2023.10.0)
Requirement already satisfied: packaging>=20.9 in c:\users\sayak\anaconda3\lib\site-packages (from huggingface-hub->ctransformers) (23.2)
Requirement already satisfied: filelock in c:\users\sayak\anaconda3\lib\site-packages (from huggingface-hub->ctransformers) (3.6.0)
Requirement already satisfied: colorama in c:\users\sayak\anaconda3\lib\site-packages (from tqdm>=4.42.1->huggingface-hub->ctransformers) (0.4.6)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sayak\anaconda3\lib\site-packages (from requests->huggingface-hub->ctransformers) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\sayak\anaconda3\lib\site-packages (from requests->huggingface-hub->ctransformers) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sayak\anaconda3\lib\site-packages (from requests->huggingface-hub->ctransformers) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sayak\anaconda3\lib\site-packages (from requests->huggingface-hub->ctransformers) (1.26.18)

In [274]:
import pandas as pd
data2 = pd.read_csv("final_train.csv",encoding="latin1" )
data3 = pd.read_csv("final_test.csv",encoding="latin1" )

In [275]:
data2.head()

   Sentence      Tag       Word
0         1  B-Actor      steve
1         1  I-Actor    mcqueen
2         1        O   provided
3         1        O          a
4         1   B-Plot  thrilling

In [276]:
#from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [277]:
data2.rename(columns={"Sentence":"sentence_id","Word":"words","Tag":"labels"}, inplace =True)

In [278]:
data3.rename(columns={"Sentence":"sentence_id","Word":"words","Tag":"labels"}, inplace =True)

In [282]:
data2["labels"] = data2["labels"].str.upper()
data3["labels"] = data3["labels"].str.upper()

In [283]:
#X= data[["sentence_id","words"]]
#Y =data["labels"]

In [285]:
data2

        sentence_id    labels      words
0                 1   B-ACTOR      steve
1                 1   I-ACTOR    mcqueen
2                 1         O   provided
3                 1         O          a
4                 1    B-PLOT  thrilling
...             ...       ...        ...
158817         7816  I-ORIGIN         on
158818         7816  I-ORIGIN          a
158819         7816  I-ORIGIN   nicholas
158820         7816  I-ORIGIN     sparks
158821         7816  I-ORIGIN      novel

[158822 rows x 3 columns]

In [233]:
#x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size =0.2)

In [286]:
#building up train data and test data
#train_data = pd.DataFrame({"sentence_id":x_train["sentence_id"],"words":x_train["words"],"labels":y_train})
#test_data = pd.DataFrame({"sentence_id":x_test["sentence_id"],"words":x_test["words"],"labels":y_test})
train_data = data2
test_data = data3

In [287]:
train_data

        sentence_id    labels      words
0                 1   B-ACTOR      steve
1                 1   I-ACTOR    mcqueen
2                 1         O   provided
3                 1         O          a
4                 1    B-PLOT  thrilling
...             ...       ...        ...
158817         7816  I-ORIGIN         on
158818         7816  I-ORIGIN          a
158819         7816  I-ORIGIN   nicholas
158820         7816  I-ORIGIN     sparks
158821         7816  I-ORIGIN      novel

[158822 rows x 3 columns]

In [288]:
test_data

       sentence_id    labels     words
0                1         O         i
1                1         O      need
2                1         O      that
3                1         O     movie
4                1         O     which
...            ...       ...       ...
39030         1953  I-ORIGIN       the
39031         1953  I-ORIGIN     novel
39032         1953  I-ORIGIN        by
39033         1953  I-ORIGIN       ben
39034         1953  I-ORIGIN  sherwood

[39035 rows x 3 columns]

# Start the training for NER

In [289]:
#model training
from simpletransformers.ner import NERModel,NERArgs

In [291]:
label = data2["labels"].unique().tolist()
label

['B-ACTOR',
 'I-ACTOR',
 'O',
 'B-PLOT',
 'I-PLOT',
 'B-OPINION',
 'I-OPINION',
 'B-AWARD',
 'I-AWARD',
 'B-YEAR',
 'B-GENRE',
 'B-ORIGIN',
 'I-ORIGIN',
 'B-DIRECTOR',
 'I-DIRECTOR',
 'I-GENRE',
 'I-YEAR',
 'B-SOUNDTRACK',
 'I-SOUNDTRACK',
 'B-RELATIONSHIP',
 'I-RELATIONSHIP',
 'B-CHARACTER_NAME',
 'I-CHARACTER_NAME',
 'B-QUOTE',
 'I-QUOTE']

In [292]:
args = NERArgs()
args.num_train_epochs = 1
args.learning_rate = 1e-4
args.overwrite_output_dir =True
args.train_batch_size = 32
args.eval_batch_size = 32

In [293]:

model = NERModel('bert', 'bert-base-cased',labels=label,args =args,use_cuda=False)

C:\Users\SAYAK\anaconda3\lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
Some weights of BertForTokenClassification were not initialized from the model checkpoint at bert-base-cased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [294]:

model.train_model(train_data,eval_data = test_data,acc=accuracy_score)

  0%|          | 0/13 [00:00<?, ?it/s]

Epoch:   0%|          | 0/1 [00:00<?, ?it/s]

Running Epoch 1 of 1:   0%|          | 0/245 [00:00<?, ?it/s]

(245, 0.5819228347466916)

In [295]:
result, model_outputs, preds_list = model.eval_model(test_data)

  0%|          | 0/4 [00:00<?, ?it/s]

Running Evaluation:   0%|          | 0/62 [00:00<?, ?it/s]

# Evaluation

In [296]:
result

{'eval_loss': 0.3591826835707311,
 'precision': 0.6480357713190674,
 'recall': 0.7136827295110798,
 'f1_score': 0.6792768664211583}

# Test the model

In [299]:
prediction, model_output = model.predict(["It is based on the eponymous non-fiction book by Anurag Pathak about Manoj Kumar Sharma, The film narrates the inspiring journey of a determined student who overcomes academic setbacks and personal challenges to achieve his dream of becoming an IAS officer.It released in the year of 2024. It won the best film award"])

  0%|          | 0/1 [00:00<?, ?it/s]

Running Prediction:   0%|          | 0/1 [00:00<?, ?it/s]

In [300]:
prediction

[[{'It': 'O'},
  {'is': 'O'},
  {'based': 'B-ORIGIN'},
  {'on': 'I-ORIGIN'},
  {'the': 'I-ORIGIN'},
  {'eponymous': 'I-ORIGIN'},
  {'non-fiction': 'I-ORIGIN'},
  {'book': 'I-ORIGIN'},
  {'by': 'I-ORIGIN'},
  {'Anurag': 'I-ORIGIN'},
  {'Pathak': 'I-ORIGIN'},
  {'about': 'O'},
  {'Manoj': 'B-CHARACTER_NAME'},
  {'Kumar': 'I-CHARACTER_NAME'},
  {'Sharma,': 'I-CHARACTER_NAME'},
  {'The': 'O'},
  {'film': 'O'},
  {'narrates': 'B-PLOT'},
  {'the': 'I-PLOT'},
  {'inspiring': 'I-PLOT'},
  {'journey': 'I-PLOT'},
  {'of': 'I-PLOT'},
  {'a': 'I-PLOT'},
  {'determined': 'I-PLOT'},
  {'student': 'I-PLOT'},
  {'who': 'I-PLOT'},
  {'overcomes': 'I-PLOT'},
  {'academic': 'I-PLOT'},
  {'setbacks': 'I-PLOT'},
  {'and': 'I-PLOT'},
  {'personal': 'I-PLOT'},
  {'challenges': 'I-PLOT'},
  {'to': 'I-PLOT'},
  {'achieve': 'I-PLOT'},
  {'his': 'I-PLOT'},
  {'dream': 'I-PLOT'},
  {'of': 'I-PLOT'},
  {'becoming': 'I-PLOT'},
  {'an': 'I-PLOT'},
  {'IAS': 'I-PLOT'},
  {'officer.It': 'I-PLOT'},
  {'released': 'O'},
  {'in': 'O'},
  {'the': 'O'},
  {'year': 'O'},
  {'of': 'O'},
  {'2024.': 'B-YEAR'},
  {'It': 'O'},
  {'won': 'O'},
  {'the': 'O'},
  {'best': 'B-AWARD'},
  {'film': 'I-AWARD'},
  {'award': 'I-AWARD'}]]